<p>etape4-composition works!</p>

<div class="modal-header">
  <h4 class="modal-title">Ajouter une production</h4>
  <button
    (click)="activeModal.dismiss()"
    type="button"
    class="btn-close"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <div class="my-2">
    <div class="d-flex justify-content-center align-items-center mb-2">
      <h5>
        <img src="assets/img/search.png" height="30px" /> Composition du produit
        <img src="assets/img/search.png" height="30px" />
      </h5>
    </div>

    <tagify
      id="composition"
      name="composition"
      [settings]="settings"
      [whitelist]="whitelist$"
      [(ngModel)]="composition"
    >
    </tagify>
  </div>

  <!-- progress bar -->
  <app-progress-bar [step]="4"></app-progress-bar>
</div>
<div class="modal-footer">
  <a class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
    <i class="fas fa-arrow-right fa-sm text-white-50 me-1"> </i>Continuer</a
  >
</div>
