<nav
class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
<!-- Sidebar Toggle (Topbar) -->
<button
  id="sidebarToggleTop"
  class="btn btn-link d-md-none rounded-circle mr-3"
>
  <i class="fa fa-bars"></i>
</button>

<!-- Topbar Search -->
<form
  class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control bg-light border-0 small"
      placeholder="Effectuer une recherche..."
      aria-label="Search"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">
        <i class="fas fa-search fa-sm"> </i>
      </button>
    </div>
  </div>
</form>

<!-- Topbar Navbar -->
<ul class="navbar-nav ml-auto">
  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
  <li class="nav-item dropdown no-arrow d-sm-none">
    <a
      class="nav-link dropdown-toggle clickable"
      id="searchDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fas fa-search fa-fw"></i>
    </a>
    <!-- Dropdown - Messages -->
    <div
      class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
      aria-labelledby="searchDropdown"
    >
      <form class="form-inline mr-auto w-100 navbar-search">
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-light border-0 small"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </li>

  <!-- Nav Item - Alerts -->
  <li ngbDropdown class="nav-item dropdown no-arrow mx-1">
    <div
      ngbDropdownToggle
      class="nav-link dropdown-toggle clickable"
      id="alertsDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fas fa-bell fa-fw"></i>
      <!-- Counter - Alerts -->
      <span class="badge badge-danger badge-counter">3+</span>
    </div>
    <!-- Dropdown - Alerts -->
    <div
      ngbDropdownMenu
      class="dropdown-list dropdown-menu dropdown-menu-end dropdown-menu-left shadow animated--grow-in"
      aria-labelledby="alertsDropdown"
    >

      <h6 class="dropdown-header">Notifications</h6>
      <a
        ngbDropdownItem
        class="dropdown-item d-flex align-items-center clickable"
      >
        <div class="mr-3">
          <div class="icon-circle bg-primary">
            <i class="fas fa-file-alt text-white"></i>
          </div>
        </div>
        <div>
          <div class="small text-gray-500">December 12, 2019</div>
          <span class="font-weight-bold"
            >A new monthly report is ready to download!</span
          >
        </div>
      </a>
      <a class="dropdown-item d-flex align-items-center clickable">
        <div class="mr-3">
          <div class="icon-circle bg-success">
            <i class="fas fa-donate text-white"></i>
          </div>
        </div>
        <div>
          <div class="small text-gray-500">December 7, 2019</div>
          $290.29 has been deposited into your account!
        </div>
      </a>
      <a class="dropdown-item d-flex align-items-center clickable">
        <div class="mr-3">
          <div class="icon-circle bg-warning">
            <i class="fas fa-exclamation-triangle text-white"></i>
          </div>
        </div>
        <div>
          <div class="small text-gray-500">December 2, 2019</div>
          Spending Alert: We've noticed unusually high spending for
          your account.
        </div>
      </a>
      <a
        class="dropdown-item text-center small text-gray-500 clickable"
        >Show All Alerts</a
      >
    </div>
  </li>

  <div class="topbar-divider d-none d-sm-block"></div>

  <!-- Nav Item - User Information -->
  <li ngbDropdown class="nav-item dropdown no-arrow">
    <a
      class="nav-link dropdown-toggle clickable"
      id="userDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      ngbDropdownToggle
    >
      <span class="mr-2 d-none d-lg-inline text-gray-600 small"
        >{{ utilisateurConnectee.prenom + " " + utilisateurConnectee.nom }}</span
      >
      <img
        class="img-profile rounded-circle"
        src="assets/img/profile/{{ utilisateurConnectee.profile }}.png"
      />
    </a>
    <!-- Dropdown - User Information -->
    <div
      class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
      aria-labelledby="userDropdown" ngbDropdownMenu
    >
      <a ngbDropdownItem [routerLink]="['profil']" class="dropdown-item clickable">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profil
      </a>
      <a ngbDropdownItem [routerLink]="['reglages']" class="dropdown-item clickable">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Réglages
      </a>
      <a ngbDropdownItem [routerLink]="['historiques']" class="dropdown-item clickable">
        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
        Historiques
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item clickable"
        data-toggle="modal"
        data-target="#logoutModal"
        (click)="open(content)"
      >
        <i
          class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
        ></i>
        Deconnexion
      </a>
    </div>
  </li>
</ul>
</nav>


    <!-- Logout Modal-->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Deconnexion</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <p><strong>Souhaitez-vous vraiment vous déconnecter <span class="text-primary">{{ utilisateurConnectee.prenom }}</span> ?</strong></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn btn-success" (click)="modal.close()">Rester connecté</button>
        <button type="button" class="btn btn btn-danger" (click)="modal.close(); seDeconnecter()">Se déconnecter</button>
      </div>
    </ng-template>


